


<section id="shop">

    <mat-grid-list class="nav" cols="1">
        <mat-grid-tile>
    <div class="col" (click)="backHome()"><span>Home</span>
        <div class="add"><img src="assets/home.png" draggable="false"></div>
    </div>
    </mat-grid-tile>
    </mat-grid-list>
    

    
    <div class="category potions">
       <span> Potions </span>
        <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile>
                <div class="item">
               
                <div><img src="assets/game_coin.png"><span>10</span></div>
              </div>
           </mat-grid-tile>
           <mat-grid-tile>
               <div class="item">
                
                <div><img src="assets/game_coin.png"><span>10</span></div>
               </div>
          </mat-grid-tile>
          <mat-grid-tile>
              <div class="item">
                
                <div><img src="assets/game_coin.png"><span>10</span></div>
              </div>
          </mat-grid-tile>
    </mat-grid-list>
    </div>



</section>
