mat-grid-list.nav{
    width:17%;
    min-height:50vh;
    mat-grid-tile{
        position:relative;
        bottom:30vh;
        .col{
            span{
                display:block;
                margin-left:0.5em;
            }
        }
        .add{
            margin-top:1em;
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;
            font-size:1.3em;
            img{
                width:2.6em;
                margin-top:0;
                transition:0.9s all;
            }
        }
        &:hover{
            cursor:pointer;
             color:rgba(0,0,0,0);
             .col > .add > img{
                 width:3.2em;
                 margin-top:-2em;
             }
         }
    }
}

.assets{
    width:17%;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2em;
    img{
        width:2.4em;
    }
}

.toLeft{
    position:absolute;
    width:9% !important; 
    top:35% !important;
    mat-grid-tile{
        margin-left:10%;
        align-items:flex-end !important;
        .col{
            span{
                font-size:1.15em;
                margin-left:0.13em !important;
                margin-bottom:0.5em !important;
                bottom:0 !important;
            }
        }
        .add{
            margin-top:0em !important;
            img{
                margin-left:0em;
                width:2.1em !important; 
                top:0 !important;
            }
        }
        &:hover{
             .col > .add > img{
                 width:2.9em !important; ;
             }
         }
    }
    font-size:1.7em;
    img{
        margin-left:1em;
        width:2em;
        position:relative;
        bottom:4em !important;
    }
    span{
        position:relative;
        bottom:4em !important;
    }
}
.normal{
    position:absolute;
    left:0;
    top:30%;
}