
    <app-left-nav (click)="backHome()" [gold]="player.gold"></app-left-nav>

<section>

    

<div class="user">
    <img class="weapon item" src="{{player.weapon.graphic}}" draggable="false" cdkDrag [cdkDragFreeDragPosition]="weaponPos" (cdkDragEnded)="weaponDrop($event)" (cdkDragStarted)="startDrag()">
    <img class="armor item" src="{{player.armor.graphic}}" draggable="false" cdkDrag [cdkDragFreeDragPosition]="armorPos" (cdkDragEnded)="armorDrop($event)" (cdkDragStarted)="startDrag()">
    <img class="necklace item" src="{{player.necklace.graphic}}" draggable="false" cdkDrag [cdkDragFreeDragPosition]="necklacePos" (cdkDragEnded)="necklaceDrop($event)" (cdkDragStarted)="startDrag()">
    <img class="ring item" src="{{player.ring.graphic}}" draggable="false" cdkDrag [cdkDragFreeDragPosition]="ringPos" (cdkDragEnded)="ringDrop($event)" (cdkDragStarted)="startDrag()">
    <img src="{{this.player.graphic}}" draggable="false">
    <span>{{player.name}}</span>
    <div class="exp">
        <div class="expBar" [ngStyle]="{background: 'linear-gradient(to right, rgb(86, 173, 3) '+ (((player.exp)/(player.nextExp))*100-2) +'% , #03EF6900 '+ ((player.exp)/(player.nextExp))*100 +'% )'}">
            <span>LVL {{player.level}}</span><span>{{player.exp}} / {{player.nextExp}}</span>
        </div>    
        
    </div>
</div>
<div class="stats">
    <div class="gridTile">Strength: <span>{{player.strength}}</span> <div class="plus" (click)="addStrength()" (mouseenter)="showCost(0)" (mouseleave)="hideCost(0)"> + </div><div class="cost"> {{strengthCost}} <img src="assets/coin/1.png"></div></div>
    <div class="gridTile">Health: <span>{{player.health}} / {{player.hitPoints}}</span><div class="plus" (click)="addHealth()" (mouseenter)="showCost(1)" (mouseleave)="hideCost(1)"> + </div> <div class="cost">{{hpCost}} <img src="assets/coin/1.png"></div></div>
    <div class="gridTile">Speed: <span>{{player.speed}}</span><div class="plus" (click)="addSpeed()" (mouseenter)="showCost(2)" (mouseleave)="hideCost(2)"> + </div><div class="cost">{{speedCost}}<img src="assets/coin/1.png"></div></div>
    <div class="gridTile">Stamina: <span>{{player.stamina}}</span><div class="plus" (mouseenter)="showCost(3)" (mouseleave)="hideCost(3)"> + </div><div class="cost">{{staminaCost}}<img src="assets/coin/1.png"></div></div>
    <div class="gridTile">Luck: <span>{{player.luck}}</span><div class="plus" (click)="addLuck()" (mouseenter)="showCost(4)" (mouseleave)="hideCost(4)"> + </div><div class="cost">{{luckCost}}<img src="assets/coin/1.png"></div></div>
</div>
</section>


<app-potions [potions]="potions" [user]="player" [character]="true"></app-potions>
