
.container{
   z-index:-12;
    background:#222244;
    animation:bg 5s infinite;
    mat-grid-tile{
        background:radial-gradient(circle,rgba(46, 13, 77, 0.945),rgba(34, 2, 58, 0.678));
        z-index:-11;
        font-size:1.8em;
        letter-spacing:0.05em;
        color:white;
        transition:1s all;
        font-family:'Abel',sans-serif;
        &:hover{
            cursor:pointer;
            transform:scale(0.85);
            
        }
    }
}

app-settings{
  min-width:100%;
  min-height:100%;
  z-index:15;
}
.darken{
  width:100%;
  min-height:100vh;
  background:#000000A0;
  z-index:14;
  position:absolute;
  top:0;
  left:0;
}

.gear{
  position:absolute;
  top:2%;
  right:1%;
  width:3%;
  z-index:100;
  cursor:pointer;
  transition:0.6s all;
  transform:rotate(0deg) scale(1);
  &:hover{
  transform: rotate(200deg) scale(1.1);
  }
}

@keyframes bg{
   0%{
    background:#222244;
   }
   33%{
    background:#9c5f02;
  }
  66%{
    background:#2a1353;
  }
  100%{
    background:#222244;
  }

}
