@mixin flex(){
    display:flex;
    align-items:center;
    justify-content:center;
}
@mixin radius($r){
    border-radius:$r;
    -webkit-border-radius:$r;
    -moz-border-radius:$r;
    -ms-border-radius:$r;
}




app-infobubble{
    min-width:8em;
    min-height:10em;
    pointer-events: none;
    position:absolute;
    top:0;
    left:0;
    z-index:150;
}


section{

    min-height:100vh;
    width:100%;
    opacity:0;
    transition:all 1s;


    .bkg{
        opacity:0.3;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        z-index:-5;
    }




.backpack{
    position:absolute;
    top:5%;
    min-width:77%;
    left:18%;
    min-height:67vh;
    padding:1% 0 2% 0;
    display:flex;
    flex-direction:column;

   .potions,.items{
    
    @include flex();
    min-width:100%;

    img{
        width:7.1%;
        margin:2%;
    }
    .spaces{
       min-width:86%;
       display:flex;
       min-height:6.8em;
       &::before{
          content: "";
          background: url("../../../assets/backpackSkin.png");
          @include radius(0.6em);
          background-size:100%;
          opacity: 0.15;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: -1;   
        }
       .spot{
           position:relative;
           min-height:100%;
           width: calc( 100% / 9 - 0.4em );
           @include flex();
           div{
               width:100%;
               min-height:100%;
               position:absolute;
               left:0;
               top:0;
               z-index:100;
               background:radial-gradient(circle,#00000000,#000000a1 70%, #000000c9 90%);
               border:solid rgba(0, 0, 0, 0.801) 0.2em;
               border-right:none;
           }
           img{
               z-index:130 !important;
               width:3.8em;
               height:3.8em;
               transition:0.3s all;
           }
           &:hover{
            img{
            transform:scale(1.09);
           }
           cursor:grab;
           }
       }
    }
 }
   .items{
       margin-top:5%;
       margin-left:0.5%;
       .spaces{
        min-width:96%;
        min-height:20.4em;
       flex-wrap:wrap;
       .spot{
        height:6.8em;
       }
       }

   }




}

}

.normal{
    background:radial-gradient(circle,#00000000,#000000a1 70%, #000000c9 90%) !important;
}
.legend{
    background:radial-gradient(circle,#00000000,#a78f0aa1 70%, #a78f0ac9 90%) !important;
}



.eq{

    position:absolute;
    bottom:2.5vh;
    left:7.5%;
    min-height:20vh;
    min-width:80%;
    @include flex();
    img{
        width:6%;
        margin-left:6%;
    }
    .user{
        width:10%;
    }
}



@media (min-width: 1200px){
    section{
    .backpack{
        .potions,.items{
    .spaces{
        min-height:8em;
        .spot{
            img{
         
                width:4.4em;
                height:4.4em;
            }
        }
    }
}
.items{
    .spaces{
        min-height:24em;
        .spot{
            height:8em;
        }
    }
}
}
    }
    .eq{
        left:10%;
    }
}
@media (min-width: 1550px){
    section{
    .backpack{
        .potions,.items{
    .spaces{
        min-height:9.7em;
        .spot{
            img{
           
                width:5.2em;
                height:5.2em;
            }
        }
    }
   }
   .items{
    .spaces{
        min-height:29.1em;
        .spot{
            height:9.7em;
        }
    }
}
}
    }
    .eq{
        left:14%;
    }
}
