<div *ngIf="this.item!=undefined">
  <img class="bubble" src="{{this.getSrc()}}" [ngStyle]="{opacity: this.item.type=='normal'?'0.95':'0.8'}">
</div>
<div *ngIf="this.item!=undefined">

  <span class="type" *ngIf='this.item.label==undefined'
    [ngClass]="{'red':this.item.type=='artefact','orange':this.item.type=='legend','white':this.item.type=='normal'}">{{this.getType()}}</span>
  <span class="type" *ngIf='this.item.label!=undefined'>{{this.item.label}}</span>
  <span class="cost" *ngIf="this.item.cost!=undefined"><img src="assets/coin/1.png">{{this.item.cost}}</span>
  <span class="name">{{item.name}}</span>
  <span class="strength" *ngIf="this.item.refill!=undefined">Power: {{this.getPower(item.refill)}}</span>
  <span class="strength" *ngIf="this.item.amp!=undefined">Type: {{this.getCrystal(this.item.amp)}}</span>
  <span class="critChance" *ngIf="this.item.power!=undefined">Boost: {{this.getBoost()}}</span>
  <span class="gem" *ngIf="this.item.gem!=undefined"><img src="{{this.item.gem.graphic}}"></span>
  <span class="gemPerk" *ngIf="this.item.gem!=undefined">{{getGemPerk()}}</span>

  <span class="defence" *ngIf="this.item.defence!=undefined">Defence: {{item.defence}}</span>
  <span class="strength" *ngIf="this.item.damageLow!=undefined">DMG: {{item.damageLow}} - {{item.damageHigh}}</span>
  <span class="status" *ngIf="this.item.state!=undefined">Status: <div
      [ngStyle]="{background: 'linear-gradient(to right,rgb(25, 193, 223) '+ (this.item.state-2) +'%, #30F17000 '+this.item.state+'%)'}">
    </div></span>
  <span class="reliability" *ngIf="this.item.chance!=undefined">Reliability: {{item.chance}}%</span>
  <span class="stamina" *ngIf="this.item.stamina!=undefined">Stamina: +{{item.stamina}}</span>
  <span class="critChance" *ngIf="this.item.critical!=undefined">Crit Chance: {{getCritical()}}%</span>
  <span class="critMulti" *ngIf="this.item.critM!=undefined">Critical DMG: +{{getCriticalMulti()}}%</span>
  <span class="fire"
    *ngIf="this.item.perks=='fire' || this.item.perks=='fireice' || this.item.perks=='fireicedarkness'"><img
      src="assets/perk/fire.png"></span>
  <span class="darkness"
    *ngIf="this.item.perks=='darkness' || this.item.perks=='darknessice' || this.item.perks=='fireicedarkness'"><img
      src="assets/perk/darkness.png"></span>
  <span class="ice"
    *ngIf="this.item.perks=='ice' || this.item.perks=='fireice' || this.item.perks=='darknessice' || this.item.perks=='fireicedarkness'"><img
      src="assets/perk/ice.png"></span>
</div>
