<div class="under">

</div>
<div class="container">

  <img *ngIf="this.mainBck!=undefined" src="{{this.mainBck.src}}" class="mainBck" id="mainBck">

  <div class="assets" *ngIf="this.player.location=='home'">

  </div>

  <header *ngIf="!inGame">
    <h1>
      Welcome to dungeons
    </h1>
    <h2>
      Pick a name
    </h2>
    <input id="n" type="text" [(ngModel)]="name" (ngModelChange)="check()">
    <button (click)="start()">Into Dungeons
    </button>
  </header>

  <mat-grid-list *ngIf="player.location=='home'" cols="3" rowHeight="2:1" id="cont">
    <mat-grid-tile (click)="goToBackpack()">
      <div class="col"><span>Backpack</span>
        <div class="add"><img src="assets/backpack.png" draggable="false"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile (click)="goToCharacter()">
      <div class="col"><span>Character</span>
        <div class="add"><img src="assets/fighter.png" draggable="false"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile (click)="goToShop()">
      <div class="col"><span>Potions</span>
        <div class="add"><img src="assets/potions.png" draggable="false"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <div class="col"><span>Arena</span>
        <div class="add"><img src="assets/char.png" draggable="false"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile (click)="goToVillage()">
      <div class="col"><span>Village</span>
        <div class="add"><img src="assets/village.png" draggable="false"></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile (click)="goToDungeon()">
      <div class="col"><span>Dungeons</span>
        <div class="add"><img src="assets/dungeon.png" draggable="false"></div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>



  <section class="dungeons" *ngIf="player.location=='dungeons'" id="dungeons">
    <nav>
      <mat-grid-list cols="1" rowHeight="1:1">
        <mat-grid-tile (click)="backHome()">
          <div class="col" ><span>Home</span>
            <div class="add"><img src="assets/home.png" draggable="false"></div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="col"><span>Loot</span>
            <div class="add"><img src="assets/loot.png" draggable="false"></div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </nav>
    <main>
      <div *ngFor="let dungeon of this.getDungeons(); let i = index" [ngClass]="{applyFilter: !dungeon.open}">
        <img id="{{i+1}}" src="{{dungeon.img}}" (click)="goCave(i+1)">
        <div class="bar" [ngStyle]="{background: 'linear-gradient(to right, rgb(9, 120, 163) '+ ((dungeon.completed/dungeon.amount)*100-1) +'%, rgba(9, 120, 163,0) '+ (dungeon.completed/dungeon.amount)*100 +'% )'}">
          {{dungeon.completed}}/{{dungeon.amount}}
        </div>
      </div>
      
      <div class="stamina"><span>Stamina</span><div class="bars" [ngStyle]="{background: 'linear-gradient(to right,rgba(2, 117, 36,255) ' + ((player.staminaLeft/player.stamina)*100-1) + '%,rgba(2, 117, 36,0) ' + (player.staminaLeft/player.stamina)*100 + '% )'}" >{{this.player.staminaLeft}}/{{this.player.stamina}}</div></div>
    </main>
  </section>



  <app-cave #cave [user]="this.player" *ngIf="player.location=='dfight'"></app-cave>
  <app-character #character [user]="this.player" *ngIf="player.location=='character'"></app-character>
  <app-shop #shop [user]="this.player" *ngIf="player.location=='shop'"></app-shop>
  <app-backpack #backpack [user]="this.player" *ngIf="player.location=='backpack'"></app-backpack>
  <app-village #village [user]="this.player" *ngIf="player.location=='village'" id="village" draggable="false"></app-village>

 
</div>
