

@mixin radius($r){
    border-radius:$r;
    -webkit-border-radius:$r;
    -moz-border-radius:$r;
    -ms-border-radius:$r;
}
@mixin flex(){
    display:flex;
    align-items:center;
    justify-content:center;
}


mat-grid-tile{
    &:hover{
       .col>.add>img{
            width:5em;
        }
    }
}

.dfight{
    display:flex;
    width:100%;
    .tile{
        min-width:50%;
        @include flex();
        min-height:100vh;
        img{
            position:absolute;
            width:10%;
            left:30%;
            opacity:1;
            transition:all 0.2s;
        }
        .goldInSack{
            display:block;
            position:absolute;
            top:11em;
            font-size:1.6em;
            font-family:"Abel",sans-serif;
            left:16.7%;
            color:white;
        }
        .coin{
            top:55%;
            width:1.7%;
        }
        .sword{
            width:4%;
            transform:rotate(0deg);
            opacity:0;
        }
        .fireball{
            width:6.5%;
            transform:rotate(90deg);
            opacity:0;
            z-index:-1;
        }
        .enemy{
            left:70%;
            transition:all 0.2s;
            filter:saturate(0%);
        }
        .hp,.ep{
            position:absolute;
            top:67%;
            min-width:18%;
            min-height:3em;
            left:15%;
            @include flex();
            flex-direction:column;
            font-size:1.6em;
            font-family:'Abel',sans-serif; 
            color:white;
            text-align:center;
            .playerHealth,.enemyHealth{
                margin-top:1em;
                border:none;
                width:100%;
                min-height:1.2em;
                @include radius(0.25em);
            }
            span{
                display:block;
                position:relative;
                bottom:1em;
            }
    }
    .ep{
        left:66%;
    }

    .loot{
        img{
            position:absolute;
            top:49.5%;
            width:4.2%;
        }
        .bigMoneyBag{
            top:47.2%;
            width:5.5%;
        }
        .coin{
            top:55%;
            width:1.7%;
        }
    }
  }
}


.damage,.playerDamage{
    width:10%;
    text-align:center;
    display:block;
    position:absolute;
    color:#da0a0a;
    left:69.5%;
    font-size:2em;
    font-family:'Abel',sans-serif; 
    font-weight:bold;
    z-index:-1;
}
.playerDamage{
    left:20%;
}

