

<section class="dfight" id="d">

<div class="tile">

    <img src="{{this.player.graphic}}" @showUp [@momentum]="{value: playerAnimation}" [@takeDamage]="enemyHit" draggable="false">
    <img src="assets/sword1.png" class="sword" @showUp [@swordMomentum]="{value: swordAnimation}" draggable="false">

    <div *ngFor="let damage of playerDamage">
      <div class="playerDamage" @showUp [@showDamage]="{value: damage[1]}">{{damage[0]}}</div>
    </div>

    <div class="hp">
      {{player.name}} ( LvL {{player.level}} )
      <div class="playerHealth"
        [ngStyle]="{background: 'linear-gradient(to right, #cf3322 '+((player.health/player.hitPoints)*100-1)+'%, #ff000000 '+ (player.health/player.hitPoints)*100 +'% )'}">
      </div>
      <span>{{player.health}} / {{player.hitPoints}}</span>
    </div>

    <span class="goldInSack">{{player.goldInSack}}</span>
    <img src="assets/game_coin.png" class="coin" style="left:14.6%;top:17.1em" draggable="false">

  </div>

  <div class="tile" *ngIf="fighting">

    <img class="enemy" src="{{enemy.graphic}}" @showUp [@enemyAnimation]="{value: enemyState}" draggable="false">
    <img src="assets/fireball.png" class="fireball" @showUp [@enemyAttack]="{value: enemyState}" draggable="false">

    <div *ngFor="let damage of enemyDamage">
      <div class="damage" @showUp [@showDamage]="{value: damage[1]}">{{damage[0]}}</div>
    </div>

    <div class="ep">
      {{enemy.name}} ( LvL {{enemy.level}} )
      <div class="enemyHealth"
        [ngStyle]="{background: 'linear-gradient(to right,#cf3322  '+((enemy.health/enemy.hitPoints)*100-1)+'%, #ff000000 '+ (enemy.health/enemy.hitPoints)*100 +'% )'}">
      </div>
      <span>{{enemy.health}} / {{enemy.hitPoints}}</span>
    </div>

    <div class="loot" *ngIf="showLoot">
      <img *ngFor="let item of enemy.loot" [src]="item.graphic" class="{{item.class}}" [ngStyle]="{left: (70+item.offset)+'%' }" (mouseenter)="showCoins(item)" draggable="false">
      <img *ngFor="let coin of coins" [src]="coin[1]" class="coin" [ngStyle]="{left: (70+coin[2])+'%',top: 55+coin[2]-7.5+'%' }" @showUp [@grabGold]="{value: coin[3]}" draggable="false">
    </div>

  </div>


  <div *ngIf="!fighting" style="width:50%;min-height:100vh">
    <mat-grid-list cols="2" rowHeight="1:1">

      <mat-grid-tile (click)="goBackToMap()">
        <div class="col"><span>Map</span>
          <div class="add"><img src="assets/map.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile (click)="fight(player.dungeon+1)">
        <div class="col"><span>Next Dungeon</span>
          <div class="add"><img src="assets/path.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="col" (click)="backHome()"><span>Home</span>
          <div class="add"><img src="assets/home.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="col"><span>Loot</span>
          <div class="add"><img src="assets/loot.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

   <app-potions [potions]="this.potions" [user]="this.player" [buildUp]="this.speedBuildUp" [character]="false"></app-potions>
  </div>


</section>