

<section class="dfight" id="d">

  
<div class="backpack" *ngIf="showItemsLooted">
     <div class="spaces">

         <div *ngFor="let i of [0,1,2,3,4,5,6,7]" class="spot" (mouseenter)="showInfo(player.loot[i])" (mousemove)="changePosition($event)" (mouseleave)="hideInfo()" class="{{player.loot[i]==undefined?'normal':player.loot[i].type}}" >
             <img *ngIf="player.loot[i]!=undefined" src="{{player.loot[i].graphic}}">
         </div>

 </div>
 </div>

<div class="tile" *ngIf="!showItemsLooted">

    <img src="{{this.player.graphic}}" @showUp [@momentum]="{value: playerAnimation}" [@takeDamage]="enemyHit" draggable="false">
    <img src="{{this.player.weapon.graphic}}" class="sword" @showUp [@swordMomentum]="{value: swordAnimation}" draggable="false">

    <div *ngFor="let damage of playerDamage">
      <div class="playerDamage" [ngStyle]="{color: damage[0]==0?'#60A0FF':'#da0a0a'}" @showUp [@showDamage]="{value: damage[1]}">{{damage[0]}}</div>
    </div>

    <div class="hp">
      {{player.name}} ( LvL {{player.level}} )
      <div class="playerHealth"
        [ngStyle]="{background: 'linear-gradient(to right, #cf3322 '+((player.health/player.hitPoints)*100-1)+'%, #ff000000 '+ (player.health/player.hitPoints)*100 +'% )'}">
      </div>
      <span>{{player.health}} / {{player.hitPoints}}</span>
    </div>

    <span class="goldInSack">{{player.goldInSack}}</span>
    <img src="assets/game_coin.png" class="coin" style="left:14.6%;top:17.1em" draggable="false">

  </div>

  <div class="tile" *ngIf="fighting">

    <img class="enemy" src="{{enemy.graphic}}" @showUp [@enemyAnimation]="{value: enemyState}" draggable="false">
    <img src="assets/fireball.png" class="fireball" @showUp [@enemyAttack]="{value: enemyState}" draggable="false">

    <div *ngFor="let damage of enemyDamage">
      <div class="damage" @showUp [@showDamage]="{value: damage[1]}" [ngClass]="{'fire': damage[2]=='fire','darkness': damage[2]=='darkness','ice': damage[2]=='ice'}">
        <span *ngIf="damage[2]=='darkness'"><img src="assets/darkness.png"></span>
        <span *ngIf="damage[2]=='fire'"><img src="assets/firePerk.png"></span>
        <span *ngIf="damage[2]=='ice'"><img src="assets/snow.png"></span>
        {{damage[0]}}
      </div>
    </div>

    <div class="ep">
      {{enemy.name}} ( LvL {{enemy.level}} )
      <div class="enemyHealth"
        [ngStyle]="{background: 'linear-gradient(to right,#cf3322  '+((enemy.health/enemy.hitPoints)*100-1)+'%, #ff000000 '+ (enemy.health/enemy.hitPoints)*100 +'% )'}">
      </div>
      <span>{{enemy.health}} / {{enemy.hitPoints}}</span>
    </div>

    <div class="loot" *ngIf="showLoot">
      <img *ngFor="let item of enemy.loot" [src]="item.graphic" class="{{item.clas}}" [ngStyle]="{left: (70+item.offset)+'%' }" (mouseleave)="hideInfo()" (mousemove)="changePosition($event)" (mouseenter)="showCoins(item)" (click)="collectItem(item)" draggable="false">
      <img *ngFor="let coin of coins" [src]="coin[1]" class="coin" [ngStyle]="{left: (70+coin[2])+'%',top: 55+coin[2]-7.5+'%' }" @showUp [@grabGold]="{value: coin[3]}" draggable="false">
    </div>

  </div>


  <div *ngIf="!fighting" style="width:50%;min-height:100vh" [ngStyle]="{marginLeft: this.showItemsLooted?'50%':'0%'}">
    <mat-grid-list cols="2" rowHeight="1:1">

      <mat-grid-tile (click)="goBackToMap()">
        <div class="col"><span>Map</span>
          <div class="add"><img src="assets/map.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile (click)="fight(player.dungeon+1)">
        <div class="col"><span>Next Dungeon</span>
          <div class="add"><img src="assets/path.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="col" (click)="backHome()"><span>Home</span>
          <div class="add"><img src="assets/home.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile (click)="showItemsLooted=!showItemsLooted">
        <div class="col"><span>Loot</span>
          <div class="add"><img src="assets/loot.png" draggable="false"></div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

   <app-potions *ngIf="!showItemsLooted" [potions]="potions" [user]="player" [buildUp]="speedBuildUp" [character]="false"></app-potions>
  </div>




</section>

<app-infobubble [user]="player" [item]="itemForInfo" *ngIf="showInfoBubble" [ngStyle]="{left: ''+ bubblePos.x + 'px' ,top: ''+bubblePos.y + 'px'}"></app-infobubble>