
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dungeons-primary: mat-palette($mat-indigo);
$dungeons-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dungeons-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dungeons-theme: mat-light-theme($dungeons-primary, $dungeons-accent, $dungeons-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dungeons-theme);

/* You can add global styles to this file, and also import other style files */


body{
    margin:0 auto;
    overflow:hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;         
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-grid-list{
    color:white;
    font-family:'Abel',sans-serif; 
    font-size:2em;

    mat-grid-tile{
        .add{
            margin-top:1em;
            display:flex;
            justify-content:center;
            align-items:center;
            text-align:center;
            font-size:0.9em;
            img{
                width:2.2em;
                margin-top:0;
                transition:0.9s all;
            }
        }
        &:hover{
           cursor:pointer;
            color:rgba(0,0,0,0);
            .col > .add > img{
                width:4.8em;
                margin-top:-5em;
            }
        }

    }
}

img{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
     -khtml-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important;  
}

.map{
    position:absolute;
    transition:0.5s opacity;
    transition:0.5s filter;
    transition:0.5s transform;
    top:0;
    left:0;
    height:100%;
    min-width:100%;
    opacity:0.1;
    z-index:-1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;  
  }
  .village{
    max-width:100% !important;
    opacity:0.2;
  }
  .mainBck{
    opacity:0.3;
  }
  .coins{
    width:1.7em;
    height:1.7em;
    margin-right:0.2em;
  }
  .potion,.weapon,.armor{
    position:relative;
    width:2.9em;
    height:2.9em;
    transition:0.9s all;
    &:hover{
        transform:scale(1.16);
    }
  }
  .weapon,.armor{
  &:hover{
    transform:scale(1);
}
  }
  .missionb{
    opacity:0.2 !important;
    width:500% !important;
  }


  .cdk-drag{
   z-index:100 !important;
  }

  .elites{
    transform:scale(1.6);
      filter: hue-rotate(190deg) brightness(70%);
  }

  .cdk-drag-dragging{
    z-index:201 !important;
  }


  @media (min-width:1600px){
    .potion{
      width:3.9em;
      height:3.9em;
    }
  }